
ion-badge{
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 20px;
}
ion-icon[name="cart-outline"]{
    color:rgba(231,143, 78, .74);
}
ion-buttons[slot="end"] > ion-button.cart{
    margin-right: 20px;
}
ion-buttons[slot="primary"] {
   width: 100%;
   display: flex;
   justify-content: space-between;

   ion-button{
       flex: 1;
   }
}

ion-thumbnail{
    padding: 0 10px 0 0;
}
.item-entry{
    padding: 10px 0;
}
.item-name{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--ion-color-dark-tint);
}
.price{
    color:var(--ion-color-tertiary-tint);
    font-weight: 500;
    font-size:15px;

}

ion-slide.swiper-slide{
    padding: 0 1%;
    opacity: .4;
    &.swiper-slide-active{
        opacity: 1;
    }
}
