<ion-menu contentId="filter" menuId="filter" side="end">
    <ion-header>
        <ion-toolbar color="dark">
            <ion-title>Filter Menu</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="closeMenu()">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-list-header  (click)="onClick()">
                <ion-label class="d-flex ion-justify-content-between">
                    <h2>Categories</h2>
                </ion-label>
                <ion-buttons >
                    <ion-button data-toggle="collapse" data-target="#filterMenu">
                        <ion-icon name="add-outline" slot="end" *ngIf="collapsed" ></ion-icon>
                        <ion-icon name="remove-outline" slot="end" *ngIf="!collapsed" ></ion-icon>
                    </ion-button>
                </ion-buttons>
                <hr>
            </ion-list-header>
            <ion-item-group *ngIf="!collapsed">
                <ion-item *ngFor="let cat of categories" class="collapse" id="filterMenu" >
                    <ion-checkbox 
                        color="secondary" 
                        name="{{cat.name}}" 
                        slot="start"
                        (ionChange) ="checkboxSelected($event)"
                        #checkbox ></ion-checkbox>
                    <ion-text>{{cat.name}}</ion-text>
                </ion-item>
            </ion-item-group>
        </ion-list>
    </ion-content>
</ion-menu>